<%= layout("/layouts/boilerplate")%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
        <h3>Edit your Listings</h3>
        <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title"  class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">Title Looks Good</div>

        </div>
        <div class="mb-3">
            <label for="description"  class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please Enter a Valid description</div>

        </div>
        <div class="mb-3">
            <label for="category"  class="form-label">Category</label><br>
            <select name="listing[category]" id="category" class="form-label" required>
                <option><%= listing.category%></option>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic cities">Iconic cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing pools">Amazing pools</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
            </select>
            <div class="valid-feedback">Category Looks Good</div>
        </div>
        <div class="mb-3">
            Original Listing Image<br>
           <img src="<%= originalImageUrl%>">
        </div>

        <div class="mb-3">
            <label for="image"  class="form-label">Upload new Image </label>
            <input name="listing[image]"  type="file" class="form-control">
            
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price"  class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div>

            </div>
            <div class="mb-3 col-md-8">
                <label for="country"  class="form-label">Country</label>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                <div class="invalid-feedback">Country name should be valid</div>

            </div>
        </div>
        <div class="mb-3">
            <label for="location"  class="form-label">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
            <div class="invalid-feedback">City name should be valid</div>

        </div>
        <br><br>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        </form>
        </div>
    </div>
    
</body>
